<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Home Page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        </style>
</head>
<body>


    <h1>Hi this is Karamveer    </h1>
    Hi this is Karamveer singh oberoi
    <table>
        <tr>
            <th>Sr.No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Can Vote?</th>
        </tr>

        {% for people in peoples %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td>{% if people.age >= 18  %}
                👍
                {% else %}
                👎
                {% endif %}
            </td>
        </tr>
        {% endfor %}
</body>
</html>